.rules__load__more {
  width: 100%;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.rules__load__more .button {
  width: 30%;
  margin: auto;
  padding: 0.7rem;
}

@media screen and (max-width: 500px) {
  .rules__load__more .button {
    width: 100%;
  }
}
