.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 0 0;
  background-color: var(--darkBlue);
}
.headerc.container {
  position: relative;
}

.header__img {
  width: 800px;
  height: 575px;
  z-index: 0;
}

.header__img img {
  position: absolute;
  width: 957px;
  height: 575px;
  right: 0.7rem;
  object-fit: cover;
}

.header__text {
  color: #eee;
  font-family: Nunito Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  position: absolute;
  text-transform: uppercase;
  width: 52%;
  z-index: 1;
}

.header__text span {
  color: var(--red);
}

.header__text__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  margin-right: 1rem;
}

.header__text__links {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 1rem;
  /* text-align: center; */
}

.header__text__links span {
  margin: auto 1rem;
  font-size: 16px;
  color: white;
  text-transform: capitalize;
}

.header__text__links a {
  color: var(--red);
  font-size: 16px;
  text-decoration: underline;
  text-transform: capitalize;
}

.header__text__links a:first-child {
  margin-left: 0;
}

.header__footer__arrows {
  display: flex;
  align-items: center;
}

.header__footer__arrows img {
  margin: auto 1rem;
  cursor: pointer;
}

.header__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__footer__slides img {
  width: 250px;
  height: 150px;
}

.header__footer__fixtures {
  background-color: #1e2229;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header__footer__fixtures span {
  color: white;
  border: 1px solid var(--red);
  padding: 0px 5px;
}

.header__footer__fixtures h3 {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 10px;
}

.header__footer__fixtures__display {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
}

.header__footer__fixtures__display .figureFirst {
  color: var(--red);
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.header__footer__fixtures__display .figureLast {
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 1280px) {
  .header__footer__fixtures {
    margin: 10px 0;
  }
  .header__img img {
    position: absolute;
    width: 920px;
    height: 575px;
    right: 0.7rem;
    object-fit: cover;
  }
  .header__text {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .header__text {
    margin-left: -40px;
  }

  .header__text p {
    font-size: 50px;
  }

  .header__footer__slides {
    display: flex;
  }
}

@media screen and (max-width: 1060px) {
  .header__text {
    margin-left: -10px;
  }

  .header__text p {
    font-size: 50px;
  }
}

@media screen and (max-width: 992px) {
  .header__text p {
    font-size: 40px;
    width: 80%;
  }

  .headerc.container {
    position: static;
  }

  .header__img img {
    width: 750px;
  }

  .header__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
  }

  .header__footer__slides {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 880px) {
  .header__img img {
    width: 680px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    font-size: 20px;
    /* line-height: 1.5rem; */
  }

  .header__text p {
    font-size: 35px;
    width: 70%;
  }

  .header__text {
    margin-top: 0rem;
  }

  .header__img {
    width: 100%;
  }

  .header {
    margin: 3rem 3rem;
  }

  .header__footer {
    /* flex-direction: column; */
    margin-top: 3rem;
  }
}

@media screen and (max-width: 820px) {
  .header__img img {
    width: 680px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    font-size: 20px;
    /* line-height: 1.5rem; */
    margin-left: -50px;
  }

  .header__text p {
    font-size: 30px;
    width: 70%;
  }

  .header__img {
    width: 100%;
  }

  /* .header {
    margin: 3rem 3rem;
  } */

  .header__footer {
    /* flex-direction: column; */
    margin-top: 3rem;
  }
}

@media screen and (max-width: 820px) {
  .header__img img {
    width: 680px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    font-size: 20px;
    /* line-height: 1.5rem; */
    margin-left: -50px;
  }

  .header__text p {
    font-size: 30px;
    width: 70%;
  }

  .header__img {
    width: 100%;
  }

  /* .header {
    margin: 3rem 3rem;
  } */

  .header__footer {
    /* flex-direction: column; */
    margin-top: 3rem;
  }
}

@media screen and (max-width: 765px) {
  .header__img img {
    width: 560px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    font-size: 20px;
    margin-left: -50px;
  }

  .header__text p {
    font-size: 27px;
    width: 80%;
  }

  .header__img {
    width: 100%;
  }

  /* .header {
    margin: 3rem 3rem;
  } */

  .header__footer {
    flex-direction: column;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .header__text {
    z-index: 9;
  }
  .heading p {
    font-size: 14px;
  }

  .header__img img {
    width: 460px;
    object-fit: cover;
    margin-left: 60px;
  }
}

@media screen and (max-width: 560px) {
  .header__img img {
    width: 460px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    font-size: 20px;
    margin-left: -50px;
  }

  .header__text p {
    font-size: 27px;
    width: 100%;
  }

  .header__footer__fixtures {
    width: 300px;
    padding: 20px;
  }
}

@media screen and (max-width: 488px) {
  .header__img img {
    width: 390px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    font-size: 18px;
    margin-left: -50px;
  }

  .header__text p {
    font-size: 25px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .header__img img {
    width: 340px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    margin-left: -50px;
  }

  .header__text p {
    font-size: 22px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .header__img img {
    width: 340px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    margin-left: -50px;
  }

  .header__text p {
    font-size: 22px;
    width: 100%;
  }
}

@media screen and (max-width: 379px) {
  .header__img img {
    width: 300px;
    object-fit: cover;
    margin-left: 60px;
  }

  .header__text {
    margin-left: -50px;
  }

  .header__text p {
    font-size: 22px;
    width: 100%;
  }
}
