.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 5rem;
}

.header__img {
  width: 60%;
  top: 5rem;
  right: 4rem;
}

.header__img img {
  width: 100%;
}

.header__text {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  width: 30%;
  line-height: 3rem;
  position: relative;
  z-index: 9999;
  margin-top: 5rem;
}

.header__text span {
  color: var(--red);
}

.header__text__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  margin-right: 1rem;
}

.header__text__links {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 1rem;
  text-align: center;
}

.header__text__links span {
  margin: auto 1rem;
  font-size: 16px;
  color: white;
  text-transform: capitalize;
}

.header__text__links a {
  color: var(--red);
  font-size: 16px;
  text-decoration: none;
}

.header__text__links a:first-child {
  margin-left: 0;
}

.header__footer__arrows {
  display: flex;
  align-items: center;
}

.header__footer__arrows img {
  margin: auto 1rem;
  cursor: pointer;
}

.header__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 7rem;
  text-align: center;
}

.header__footer__slides img {
  width: 250px;
  height: 160px;
}

.header__footer__fixtures {
  background-color: var(--darkBlue);
  padding: 2rem 6rem;
}

.header__footer__fixtures span {
  color: white;
  border: 1px solid var(--red);
  padding: 0.5rem 1rem;
}

.header__footer__fixtures h3 {
  text-transform: uppercase;
  color: white;
}

.header__footer__fixtures__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__footer__fixtures__display .figureFirst {
  color: var(--red);
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.header__footer__fixtures__display .figureLast {
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 1280px) {
  .header__footer__fixtures {
    margin: 10px 0;
  }
}

@media screen and (max-width: 880px) {
  .header__img img {
    width: 420px;
    object-fit: cover;
  }

  .header__text {
    font-size: 20px;
    line-height: 1.5rem;
  }

  .header__text {
    margin-top: 0rem;
  }

  .header__img {
    width: 100%;
  }

  .header__text {
    width: 100%;
  }

  .header {
    margin: 3rem 3rem;
  }

  .header__footer {
    /* flex-direction: column; */
    margin-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    /* width: 90%; */
  }

  .header__text {
    z-index: 9;
  }
  .heading p {
    font-size: 14px;
  }
}

@media screen and (max-width: 560px) {
  .header__footer__slides img {
    width: 100%;
    height: 30%;
  }
  .heading {
    font-size: 16px;
  }
}

@media screen and (max-width: 430px) {
  .header__footer__fixtures {
    padding: 2rem 2rem;
    width: 60%;
    display: none;
  }

  .header__text__btn {
    flex-direction: column;
    width: 100%;
  }

  .header__text__btn div {
    margin: 10px 0;
    width: 80%;
  }

  .header__img {
    position: absolute;
  }
}
@media screen and (max-width: 350px) {
  .header__img img {
    width: 380px;
    object-fit: cover;
  }
}
