.button {
  text-transform: capitalize;
  font-size: 16px;
  background-color: var(--red);
  color: white;
  /* min-width: 40%; */
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  border: none;
}

.arrowbtn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--red);
  color: var(--fadedWhite);
  text-transform: capitalize;
  font-weight: bolder;
  font-size: smaller;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.arrowbtn .MuiSvgIcon-root {
  font-size: 18px;
}

.doublecurve {
  /* background-color: var(--green); */
  padding: 0.6rem 3rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  min-width: 160px;
  padding: 8px 5px;
  background-color: var(--red);
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu p {
  padding: 8px 10px;
  color: var(--fadedWhite);
  cursor: pointer;
  text-align: left;
}

@media screen and (max-width: 880px) {
  .doublecurve {
    padding: 0.6rem 3rem;
  }
}

@media screen and (max-width: 650px) {
  .doublecurve {
    padding: 0.6rem 3rem;
    font-size: 12px;
  }
}

@media screen and (max-width: 520px) {
  .doublecurve {
    padding: 0.6rem 4rem;
    margin: 10px 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 950px) {
  .button {
    font-size: 12px;
  }
}
