.CurvedBTN {
  font-weight: bolder;
  text-transform: uppercase;
  border-bottom: 50px solid var(--red);
  border-left: 0px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 200px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.CurvedBTN span {
  color: white;
  margin-top: 10px;
  font-size: 12px;
}
