.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  margin: 3rem auto;
  font-weight: bolder;
  border-bottom: var(--red) solid 2px;
  width: fit-content;
}

.heading p {
  text-align: center;
}
