.upcoming {
  padding: var(--padding);
  text-align: center;
}

.upcoming__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.upcoming__container__list {
  width: 50%;
}

.upcoming__container__list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upcoming__container__list__item .cup {
  margin: 2rem;
  background-color: var(--red);
  padding: 1rem;
  border-radius: 50%;
}

.upcoming__container__list__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upcoming__container__list__items .time {
  color: white;
  font-size: 12px;
}

.upcoming__container__list__item .name__items .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.name__items h3 {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16px;
  margin-right: 1rem;
}

.name__items p {
  color: var(--lightText);
}

.name__items section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name__items section p {
  margin-right: 0.5rem;
  font-size: 12px;
}

.name__items section img {
  margin-right: 0.2rem;
  width: 10px;
  height: 10px;
}

.upcoming__container__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  /* width: 600px; */
  /* background-color: red; */
}

.upcoming__container__cards img:nth-child(1) {
  width: 350px;
  object-fit: contain;
}

.upcoming__container__cards img:nth-child(2) {
  height: 255px;
  object-fit: contain;
}

.upcoming__container__cards img:nth-child(3) {
  object-fit: contain;
}

.upcoming__container__cards img:nth-child(4) {
  width: 330px;
}

.featuredevents__heading p {
  margin: 0;
}
@media screen and (max-width: 620px) {
  .upcoming__container__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
  }

  .upcoming__container__cards img:nth-child(1) {
    width: 230px;
    object-fit: contain;
  }

  .upcoming__container__cards img:nth-child(2) {
    height: 170px;
    object-fit: contain;
  }

  .upcoming__container__cards img:nth-child(3) {
    width: 170px;
    object-fit: contain;
  }

  .upcoming__container__cards img:nth-child(4) {
    width: 230px;
  }
}

@media screen and (max-width: 420px) {
  .name__items section {
    flex-direction: column;
  }
  .upcoming__container__cards img {
    width: 60%;
  }
  .name__items h3 {
    font-size: 14px;
  }

  .upcoming__container__cards {
    width: 300px;
  }

  .upcoming__container__cards img:nth-child(1) {
    width: 170px;
    object-fit: contain;
  }

  .upcoming__container__cards img:nth-child(2) {
    height: 170px;
    object-fit: contain;
  }

  .upcoming__container__cards img:nth-child(3) {
    width: 170px;
    object-fit: contain;
  }

  .upcoming__container__cards img:nth-child(4) {
    width: 170px;
  }
}

@media screen and (max-width: 420px) {
  .name__items section {
    flex-direction: column;
  }
  .upcoming__container__cards img {
    width: 60%;
  }
  .name__items h3 {
    font-size: 14px;
  }
}
