.shop {
  padding: var(--padding);
}

.shop__banner {
  height: 40vh;
}

.shop__banner__text h3 {
  font-size: 40px;
  text-transform: capitalize;
  color: var(--fadedWhite);
  margin: 2rem 0;
}

.shop__banner__text p {
  width: 30%;
  color: var(--fadedWhite);
  font-size: 14px;
  line-height: 1.7rem;
}

.shop__items .other__items__2 {
  display: flex;
  align-items: center;
}

.shop__items .other__items__2 h3 {
  margin-right: 1rem;
  color: var(--lightText);
  cursor: pointer;
}

.shop .tournamentbt__body__item .item__btn .button {
  width: 30%;
  padding: 0.7rem;
}

.shop .tournamentbt__body__item .item__btn {
  width: 20%;
}

.shop__items__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop__items__cards__item {
  background-color: var(--darkBlue);
  margin: 0.5rem;
  padding: 1rem;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.shop__items__cards__item .button {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.shop__items__cards__item h3 {
  color: var(--fadedWhite);
  text-transform: uppercase;
  margin-top: 1rem;
}

.shop__items__cards__item__img {
  width: 100%;
  height: 70%;
}

.shop__items__cards__item__img img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.shop__items__cards__item__btn {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

.shop__items__cards__item__btn .button {
  width: 30%;
  margin: auto;
  padding: 0.7rem;
}

@media screen and (max-width: 1050px) {
  .shop .tournamentbt__body__item .item__btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .shop {
    padding: 1rem 0;
  }

  .other__items__2 {
    width: 100%;
    justify-content: space-around;
  }

  .shop__body__item {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .shop__items__cards {
    flex-direction: column;
  }

  .shop__items__cards__item {
    width: 90%;
  }

  .shop__banner__text p {
    width: 100%;
    font-size: 14px;
  }
  .shop__banner__text h3 {
    font-size: 30px;
    margin: 0.5rem 0;
  }
  .shop__items__cards__item h3,
  .shop__items .other__items__2 h3 {
    font-size: 12px;
  }
  .shop__banner {
    height: 20vh;
  }

  .shop {
    width: 100%;
  }
}

@media screen and (max-width: 808px) {
  .shop__items__cards {
    justify-content: space-around;
  }
}

@media screen and (max-width: 520px) {
  .shop__items__cards__item__btn {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .other__items__2 {
    flex-wrap: wrap;
  }
}
