.contact {
  padding: var(--padding);
  width: 50%;
  margin: auto;
  padding-bottom: 70px;
}

.contact .button {
  /* width: 5%; */
  /* padding: 1rem; */
  /* margin: auto; */
  width: 200px !important;
  font-weight: bolder;
}

.contact__form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.contact__form h4 {
  text-align: center;
  color: var(--lightText);
  margin-bottom: 2rem;
}

.contact__form__container input {
  width: 20rem;
  padding: 10px 10px;
  background-color: var(--footerColor);
  outline: none;
  border: none;
  color: var(--footerColor);
}

.contact__form__container .left {
  display: flex;
  flex-direction: column;
}

.contact__form__container textarea {
  background-color: var(--footerColor);
  outline: none;
  border: none;
  resize: none;
  width: 20rem;
  padding: 10px 20px;
  height: 112px;
  color: var(--lightText);
}

.FormButtons {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 990px) {
  .contact__form__container input,
  .contact__form__container textarea {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .contact {
    width: 100%;
    /* padding: 1rem 0; */
  }
  .content__body__heading__profile h3 {
    font-size: 15px;
  }

  .contact__form__container textarea {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .contact__form__container {
    flex-direction: column;
  }
  .contact__form__container input,
  .contact__form__container textarea {
    width: auto;
  }
}
