.container * {
  /* border: 1px solid red; */
  color: #fff;
}

/* .container {
    margin: 5%;
} */

.containered * {
  /* border: 1px solid red; */
  color: #fff;
}

.containered {
  margin: 5%;
}

.banner {
  display: flex;
  flex-direction: row;
}

.bannerChildren {
  height: 500px;
  flex: 1;
}

.bannerHeading {
  text-transform: uppercase;
  font-size: 58px;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
}

.flex-column {
  flex-direction: column;
}

.bannerText {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  /* color: #eee; */
}

.image {
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
}

.mainregIcon {
  height: 110%;
  width: 80%;
  object-fit: contain;
}

.regIcon {
  height: 120%;
  width: 130%;
  object-fit: contain;
  margin-bottom: 10px;
}

.bannerImage {
  object-fit: cover;
}

.regionIconContainer {
  display: flex;
  margin: 30px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;

  /* overflow: hidden; */

  /* grid-column: 2;     */
}

.regionSubIcons {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 240px;
  justify-content: center;
  background: #222831;
  align-items: center;
  min-width: 40%;
  /* min-width: 300px; */

  /* width: 50px; */
}

.regionImageDiv {
  height: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mainIcon {
  height: 750px;
  /* width: 750px; */
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.mainImageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* overflow: hidden; */
}

.mainIcon img {
  object-fit: contain;
  width: 70%;
  height: 110%;
}

.iconTitle {
  font-family: Poppins;
  font-size: 48px;
  text-align: center;
}

@media (max-width: 1200px) {
  .mainIcon {
    height: 60vw;
  }

  .mainIcon img {
    object-fit: contain;
    width: 70%;
    height: 110%;
  }
}

@media (max-width: 800px) {
  .regionSubIcons {
    min-width: 300px;
  }

  .mainImageContainer {
    margin-top: 20vw;
  }
}

@media (max-width: 600px) {
  .mainIcon {
    height: fit-content;
  }

  .banner {
    flex-direction: column;
  }

  .mainImageContainer {
    margin-top: auto;
  }

  .mainIcon img {
    object-fit: contain;
    width: 70%;
    height: 100%;
  }

  .bannerHeading {
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: left;
  }

  .bannerText {
    font-family: Nunito Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    /* color: #eee; */
  }
}

.regionSubIcons h1 {
  /* font-family: Nunito Sans; */
  font-weight: 700;
  font-size: 48px !important;
}

/* @media (min-width: 1050px) {
  .bannerText {
    display: none;
  }
} */

@media (max-width: 410px) {
  .regIcon {
    height: 90%;
    width: 130%;
    object-fit: contain;
    margin-bottom: 10px;
  }
}
