.footer__container {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lightText);
}

.footer {
  position: relative;
  background-color: var(--footerColor);
}

.ArrowWrapper {
  position: absolute;
  cursor: pointer;
  top: -18px;
  right: 50%;
  background-color: var(--red);
  padding: 9px;
}

.ArrowIcon {
  color: white;
  font-size: 25px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.footer__container > div {
  width: 20%;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.footer__two .links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
}

.footer__two .links ul {
  list-style: none;
}

.footer__two .links ul a,
.footer__three ul a {
  text-decoration: none;
  color: var(--lightText);
  text-transform: capitalize;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 2rem;
  font-size: 14px;
}

.footer__one p {
  color: var(--lightText);
}

/* .footer__two .links div {
  margin-right: 2rem;
} */

.footer__two h3 {
  color: white;
  margin-left: 30px;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
}

.footer__one p {
  color: var(--lightText);
  font-size: 14px;
  line-height: 1.5rem;
}

.footer__three ul {
  list-style: none;
}

.footer__four h3 {
  color: var(--fadedWhite);
  /* margin-bottom: 2rem; */
  font-size: 18px;
  text-transform: uppercase;
}

.footer__four p {
  color: var(--lightText);
  font-size: 14px;
}

.footer__four .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--MainBg);
  padding: 12px;
}

.footer__four .box input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  color: var(--lightText);
  width: 12rem;
}

.FooterIcon {
  color: var(--lightText);
}

.footer__location {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.footer__location .text {
  /* background-color: red; */
  display: flex;
  font-size: 15px;
  align-items: center;
  flex-direction: column;
}

.LocationContainer {
  display: flex;
}

.FooterLocationName {
  line-height: 35px;
  width: 200px;
  color: var(--lightText);
}

.footer__location .icon .MuiSvgIcon-root {
  color: var(--red);
  font-size: 40px;
  /* margin-right: 2rem; */
}

.footer__location .text h3 {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--fadedWhite);
  /* margin-bottom: 1rem; */
}

.footer__location .text p {
  color: var(--lightText);
  font-size: 14px;
}

.footer__last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--red);
}

.footer__last .copyright {
  display: flex;
  align-items: center;
  color: var(--lightText);
  font-size: 16px;
  padding: 15px 12px;
}

.footer__last .socials img {
  margin-right: 1rem;
}

.dev__by {
  text-align: center;
  background-color: var(--bgColor);
}

.dev__by a {
  text-decoration: none;
  color: var(--lightText);
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .footer__container {
    width: 100%;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }

  .footer__container > div {
    width: 40%;
  }
  .footer__four .box input {
    width: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .footer__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__container > div {
    width: 40%;
  }
  .footer__one .logo img {
    width: 200px;
  }
}
