.blog__post {
  display: flex;
  justify-content: center;
  gap: 100px;
}

rect {
  fill: transparent;
  font-size: 10px;
}

.blog__post__items__card__others {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
  padding-bottom: 1rem;
}

.blog__post__items__card {
  width: 100%;
  background-color: var(--MainBg);
}

.blog__post__items__card #blogimg {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.blog__post__items__card__others .socials {
  display: flex;
  align-items: center;
}

.blog__post__items__card__others .socials p {
  margin-left: 1rem;
}

.blog__post__items__card__others .MuiSvgIcon-root {
  color: var(--fadedWhite);
  cursor: pointer;
}

.blog__post__items__card__others #share .MuiSvgIcon-root {
  color: var(--red);
}

.blog__post__items__card__img {
  position: relative;
}

.blog__post__items__card__img div {
  position: absolute;
  color: var(--fadedWhite);
  text-transform: uppercase;
  bottom: 0;
  background-color: var(--blogLinear);
  padding: 1rem 30px;
  width: 100%;
  font-weight: bolder;
}

.blog__post__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog__post__items__card__others {
  /* margin: 2rem 0; */
  padding: 1.5rem 20px;
  display: flex;
  align-items: center;
}

.blog__post__items__card__others .date {
  color: var(--red);
  font-weight: bolder;
}

.blog__post__items__card__others .excerpt {
  color: var(--fadedWhite);
  font-weight: bolder;
  text-transform: capitalize;
}

.blog__loadmore {
  width: 60%;
}

.blog__loadmore .button {
  width: 30%;
  padding: 0.7rem;
  margin: auto;
}

.blog .featured__container__card .card__date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog .featured__container__card .card__date .MuiSvgIcon-root {
  cursor: pointer;
}

.blog__popular__items {
  background-color: var(--MainPrimary);
  padding: 1rem;
  color: var(--fadedWhite);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog__popular__items__row {
  display: flex;
  padding: 10px 20px;
}

.blog__popular__items__row > div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
}

.blog__popular__items__row .name {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.blog__popular__items__row .MuiSvgIcon-root {
  font-size: 14px;
}

.blog__popular {
  /* margin-right: 1rem; */
  /* width: 30%; */
}

/* New Code */

.gameselect__banner__text {
  /* margin-left: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog .gameselect__banner__text h3 {
  text-align: left;
  font-size: 51px;
  font-weight: 700;
}

.gameselect__banner__text p {
  width: 70%;
}

/* New Code */

.BlogsSection {
  width: 100%;
  /* background-color: red; */
}

.BlogContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

@media screen and (max-width: 1100px) {
  .blog__post__items__card {
    width: 75%;
  }

  .blog__loadmore {
    width: 70%;
  }
  .blog__post {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: 949px) {
}

@media screen and (max-width: 785px) {
  .blog__post {
    flex-direction: column;
  }

  .blog__post__items__card {
    width: 100%;
  }

  .blog__loadmore {
    width: 100%;
  }
  .blog__popular__items__row .name {
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  .blog__post__items__card__others {
    flex-direction: column;
    justify-content: space-around;
  }
}
